---
---

@import "{{ site.theme }}";

h1:first-of-type {
  background: url("/assets/images/brand-symbol-only-transparent-on-light.png") no-repeat;
  border-bottom: 0px;
  display:block;
  height: 136px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
