---
---

@import "{{ site.theme }}";

.markdown-body h1:first-of-type {
  background: url("/assets/images/brand-symbol-only-transparent-on-light.png") no-repeat;
  border-bottom: none;
  display: block;
  height: 165px;
  overflow: hidden;
  margin-bottom: 0;

  a {
    visibility: hidden;
  }
}
