name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lychee:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Check links
        id: lychee
        uses: lycheeverse/lychee-action@v2.7.0
        with:
          # Exclude twitter.com (https://github.com/lycheeverse/lychee/issues/989)
          # Exclude udemy.com (Failed: Network error: Forbidden)
          # Add check for url.com/index#fragments
          args: README.md --verbose --no-progress --exclude twitter.com --exclude udemy.com --include-fragments
          fail: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  markdown:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          globs: |
            README.md
            contributing.md

  awesome-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - run: npx awesome-lint
